
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Fanadesh</title>



    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/FileHTML/css/bootstrap.css" />
    <!-- progress barstle -->
    <link rel="stylesheet" href="~/Content/FileHTML/css/css-circular-prog-bar.css">
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
    <!-- font wesome stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="~/Content/FileHTML/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/FileHTML/css/responsive.css" rel="stylesheet" />



    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/FileHTML/css/css-circular-prog-bar.css">
    @RenderBody()

</head>

</html>